.App-header {
  background-color: #672280;
  min-height: 5vh;
  color: #ffffff;
}

.App-footer {
  background-color: #672280;
  min-height: 5vh;
  color: #ffffff;
  align-content: center;
  margin-top: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}